#container_receitas{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

#categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#multipleOptions .dropdown {
    width: 120px;
}

#multipleOptions .dropdown button {
    width: 100%;
    text-align: center;
}


#limpar_filtro{
    display: flex;
    justify-content:  flex-end;
}

#link_limpa{
    text-decoration: none;
    color: #dc3545;
}

#link_limpa:hover{
    color: white;
}