{% extends 'menu.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'add.css' %}">
{% endblock %}

{% block content %}

<h1>Adicionar Receita</h1>

<div id="container_receita">
    <form method="POST">
        {% csrf_token %}

        <label>Título:</label>
        <input type="text" name="title" required><br><br>

        <label>Tempo (minutos):</label>
        <input type="number" name="time" required><br><br>

        <label>Dificuldade:</label>
        <select name="difficulty">
            <option value="easy">Fácil</option>
            <option value="medium">Médio</option>
            <option value="hard">Difícil</option>
        </select><br><br>

        <label>Ingredientes (separados por vírgula), medidas entre colchetes:</label><br>
        <textarea name="ingredients" rows="4" cols="40" placeholder="ex:[1] tomate,[500 gramas de] queijo, [1 xícara de] chocolate, [uma pitada de] sal..."></textarea><br><br>

        <label>Instruções:</label><br>
        <textarea name="instructions" rows="6" cols="40" required></textarea><br><br>

        <button type="submit">Salvar Receita</button>
    </form>
</div>
{% endblock %}