{% extends 'menu.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'list_recipes.css' %}">
{% endblock %}

{% block content %}

    {% if not error %}
   
        <div id="container_receitas">
            <h1>RECIPES</h1>
            <form method="get">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="check" id="check"
                        onchange="this.form.submit()" 
                        {% if checked %}checked{% endif %}>
                    <label class="form-check-label" for="check">
                        Sort by time
                    </label>
                </div>

                {% if checked %}
                    <div class="range d-flex gap-2 align-items-center">
                        <div class="input-group input-group-sm mb-3 flex-grow-1">
                            <span class="input-group-text">Min</span>
                            <input type="number" name="min" class="form-control" value="{{ min|default:'' }}">
                        </div>

                        <div class="input-group input-group-sm mb-3 flex-grow-1">
                            <span class="input-group-text">Max</span>
                            <input type="number" name="max" class="form-control" value="{{ max|default:'' }}">
                        </div>

                        <button class="btn btn-primary">Apply filter</button>
                    </div>
                {% else %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><button style = "border-color: transparent;background-color: transparent;">Pesquisar</button></span>
                        <input type="text" class="form-control" placeholder="Digite o título que procuras..." aria-describedby="basic-addon1">
                    </div>
                
                {% endif %}
            </form>

            {% include 'recipes.html' %}

        </div>


    {% else %}
        <div class="empty-center">
        <h2>{{error}}</h2>
        </div>

    {% endif %}

    
{% endblock %}