{% extends 'menu.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'list_recipes.css' %}">
{% endblock %}

{% block content %}

    {% if not error %}
   
        <div id="container_receitas">
            <h1>RECIPES</h1>
            <form method="get">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="check" id="check"
                        onchange="this.form.submit()" 
                        {% if checked %}checked{% endif %}>
                    <label class="form-check-label" for="check">
                        Sort by time
                    </label>
                </div>

                {% if checked %}
                    <div class="range d-flex gap-2 align-items-center">
                        <div class="input-group input-group-sm mb-3 flex-grow-1">
                            <span class="input-group-text">Min</span>
                            <input type="number" name="min" class="form-control" value="{{ min|default:'' }}">
                        </div>

                        <div class="input-group input-group-sm mb-3 flex-grow-1">
                            <span class="input-group-text">Max</span>
                            <input type="number" name="max" class="form-control" value="{{ max|default:'' }}">
                        </div>

                        <button class="btn btn-primary">Apply filter</button>
                    </div>
                {% else %}
                    <div class="input-group mb-3" style="position: relative;">
                        <input type="text"
                            id="searchBar"
                            class="form-control"
                            placeholder="Digite o título..."
                            autocomplete="off">

                        <div id="suggestions" 
                            style="
                                position:absolute;
                                top: 100%;
                                left:0;
                                right:0;
                                background:white;
                                border:1px solid #ccc;
                                z-index:10;
                                max-height:300px;
                                overflow-y:auto;
                                display:none;">
                        </div>
                    </div>
                
                {% endif %}
            </form>

            {% include 'recipes.html' %}

        </div>
                <script>
                const bar = document.getElementById("searchBar");
                const box = document.getElementById("suggestions");

                bar.addEventListener("input", async function() {
                    const q = bar.value.trim();

                    if (q.length === 0) {
                        box.style.display = "none";
                        return;
                    }

                    const res = await fetch(`/ajax/search/?q=` + encodeURIComponent(q));
                    const data = await res.json();

                    if (data.results.length === 0) {
                        box.innerHTML = `<p style="padding:6px;">Nenhum resultado...</p>`;
                        box.style.display = "block";
                        return;
                    }
                    
                    box.innerHTML = "";
                    data.results.forEach(r => {
                        const item = document.createElement("div");
                        item.style.padding = "6px";
                        item.style.cursor = "pointer";
                        item.innerText = r.title;
                        item.onclick = () => {
                            window.location.href = "/recipe/" + r.id + "/";
                        };
                        box.appendChild(item);
                    });

                    box.style.display = "block";
                });

                // Ocultar ao clicar fora
                document.addEventListener("click", (e) => {
                    if (!bar.contains(e.target) && !box.contains(e.target)) {
                        box.style.display = "none";
                    }
                });
                </script>             

    {% else %}
        <div class="empty-center">
        <h2>{{error}}</h2>
        </div>

    {% endif %}

    
{% endblock %}